apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: lastmile
spec:
  selector:
    app: notification-service
  ports:
    - name: http
      protocol: TCP
      port: 8007
      targetPort: 8007
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: lastmile
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
      - name: notification-service
        image: backend-notification_service:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8007
        env:
        - name: DB_HOST
          value: "postgres-notification"
        - name: DB_NAME
          value: "notification_db"
        - name: DB_USER
          value: "postgres"
        - name: DB_PASSWORD
          value: "postgres"
        - name: RABBITMQ_URL
          value: "amqp://guest:guest@rabbitmq:5672/"
