<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>

<h2>User Registration</h2>

<form action="/register" method="post">
    Name: <input type="text" name="name"><br><br>
    Email: <input type="email" name="email"><br><br>
    Password: <input type="password" name="password"><br><br>

    Role:
    <select name="role">
        <option value="rider">Rider</option>
        <option value="driver">Driver</option>
    </select>
    <br><br>

    <button type="submit">Register</button>
</form>

</body>
</html>
